.button {
  display: inline-flex;
  width: 25%;
  flex: 1 0 auto;
}

.zero {
  width: 50%;
}

.button button {
  background-color: beige;
  font-size: 5rem;
  margin: 0 1px 0 0;
  flex: 1 0 auto;
  padding: 0;
}

.operator button {
  background-color: #f5923e;
  color: white;
}
