#result-screen {
  background-color: slategrey;
  color: white;
  text-align: right;
  font-weight: 200;
  flex: 1 0 auto;
  width: 100%;
}

#result-screen > div {
  font-size: 5rem;
  padding: 0.2rem 0.7rem 0.1rem 0.5rem;
}
