* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 10px;
}

body {
  background-color: black;
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  height: 100%;
}
